.page{
    flex:1;
    padding:30px;
    background:#f4f6f9;
}

form{
    width:500px;
    background:white;
    padding:25px;
    border-radius:10px;
}

input{
    width:100%;
    padding:12px;
    margin:10px 0;
}

button{
    background:#2980b9;
    color:white;
    border:none;
    padding:12px;
    width:100%;
    border-radius:5px;
}